@font-face {
    font-family: sans;
    src: url(../font/IRANSans.ttf);
}
.inset{
    /* border: 1px solid black ; */
}
.header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.logo-page,.menu-page{
    display: flex;
}

.menu-page{
    grid-gap: 10px;
}
.input-search{
    height: 50px;
    width: 30px;
    background-color: #f3efef;
    border-radius: 18px;
    padding: 0 50px 0 0;
    outline: none;
    border: none;
    font-family: sans;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}
.input-search:focus{
    width: 300px;
}
.icon-search{
    position: absolute;
    color: #676767;
    margin: 12px 15px;
    font-size: 22px;
}

/*  */
.c-chat{
    /* border: 1px solid black; */
    height: 600px;
    overflow: hidden;
}

.conten-chat{
    /* border: 1px solid black; */
    margin: 14px 30px;
    height: 570px;
    background-color: #f2f2f2;
    border-radius: 8px;
    align-content: space-between;
    display: grid;
    padding: 8px;
}
.box-chat{
    overflow-y: scroll;
}
.chat-user{
    /* border: 1px solid black; */
    max-width: 450px !important;
    padding: 10px;
    border-radius: 8px;
    background-color: #5654401a;
}
.chat-admin{
    /* border: 1px solid black; */
    width: 450px;
    padding: 10px;
    border-radius: 8px;
    background-color: #5654401a;
}
.c-user, .c-admin{
    width: 100% !important;
}
.c-admin{
    display: flex;
    justify-content: end;   
}
.titr-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titr-user > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titr-user > div > p{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.titr-user > div > h3{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.chat-user > p{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0 0 0 ;
    padding: 0;
}
/*  */
.titr-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titr-admin > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titr-admin > div > p{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.titr-admin > div > h3{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.titr-admin > p{
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0 0 0 ;
    padding: 0;
}
.input-chat{
    /* border: 1px solid black; */
    display: grid;
    padding: 16px 0 8px;
    grid-template-columns: 1fr 10fr;
}
.input-chat > div{
    /* border: 1px solid black; */
}
.input-message{
    border: 1px solid #676767;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    outline: none;
}
.btn-send{
    width: 50%;
    height: 100%;
    border: none;
    background: #005d60;
    color: #ffffff;
    border-radius: 8px;
}