.menu-bnttom{
    display: none;
}

@media screen and (max-width: 780px) {
    .menu-bnttom{
        /* border: 1px solid black; */
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        box-shadow: 0 0 7px #ccc;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 0 5px 0;
        height: 70px;
    }
    .it-menu-b{
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    .icon-menu-b{
        font-size: 18px;
        margin-bottom: 5px;
        color: #005d60;
    }
    .img{
         border: 1px solid black;
        /*border-radius: 50%;*/
        padding: 0px 0;   
        width: 50px;
        display: flex;
        justify-content: center;   
        margin-bottom: 80px;  
    }
    .logomenu{
        width: 50px;
        border-radius: 47%;
        padding:2px;
        border: 1px solid #fff;
        background-color: #005d60 !important;
        height: 55px;
        position: absolute;
    }
    .link-it-menu-b{
        color: #2a2b3d !important;
        text-align: center;
    }
}