.container{
    padding: 0;
}
.inset-product{
    /* border: 1px solid black; */
    margin: 28px;
    border-radius: 8px;
}
.header-datail{
    /* border: 1px solid black; */
    display: flex;
    margin: 28px 28px 0;
    justify-content: end;
    grid-gap: 8px;
}
.back{
    display: flex;
    grid-gap: 10px;
}
.Details{
    /* border: 1px solid black; */
    margin: 24px;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}
/*  */
.c-img-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-img-details{
    animation: slideIn 1s ease 1;
}
.img-Details{
    width: 100%;
    height: 100%;
    margin: auto;
}
.c-info-details{
    animation: slideUp 1s ease 1;
}
.inset-info-details{
    animation: slideUp 1.5s ease 1;
}
.c-info-details > .h3{
    background-color: #005d60;
    width: 80%;
    height: max-content;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.c-info-details > .h3 > h3{
    color: rgb(251, 188, 79) !important;
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 0 !important;
}
.inset-info-details > .a{
    font-family: sans;
    font-size: 16px;
    font-weight: 700;
    color: #2b2b2b;
    margin-right: 8px;
}
.c-detail{
    display: flex;
    grid-gap: 7px;
    margin: 14px 8px 14px 0;
}
.c-detail > span{
    color: rgb(251, 188, 79);
}
.c-detail > a{
    font-family: sans;
    font-size: 14px;
    font-weight: 500;
    color: #454545 !important;
}
.Satisfaction{
    font-family: sans !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #454545 !important;
}
.inset-info-details > p{
    margin:14px  0;
}
.inset-info-details > .description{
    font-size: 14px;
    font-family: sans;
    font-weight: 500;
    margin-right: 8px;
    color: #454545 !important;
}
.c-AddToCart{
    /* border: 1px solid black; */
    display: flex;
    width: max-content;
    grid-gap: 5px;
    align-items: center;
    border-radius: 8px;
    margin-right: 8px;
}
.c-AddToCart > button{
    background-color: #e3ab74;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-family: sans;
    font-size: 14px;
    font-weight: 600;
    color: #2b2b2b;
}
.c-AddToCart > p{
    font-size: 14px;
    color: #e3ab74;
}
.btn-count{
    display: flex;
    align-items: center;
}
.btn-count > button{
    width: max-content;
    height: 40px;
    border-radius: 8px;
    background-color: #e3ab74;
    color: #2b2b2b;
    border: none;
    font-family: sans;
    font-size: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.btn-count > a{
    margin: 0 10px;
}
.inset-info-details > .div-price > .pricee{
    margin: 0 0 15px;
    font-family: sans;
    font-size: 16px;
    font-weight: 600;
}
.inset-info-details > .div-price > .pricee > span{
    color: #e3ab74;
}
.div-price{
    display: flex;
    margin: 10px 8px;
    grid-gap: 35px;
}
.div-img-logo{
    display: none !important;
}
.divs-header{
    display: flex;
    grid-gap:8px;
}
@media screen and (max-width: 760px){
    .div-img-logo{
        display: block !important;
    }
    .header-datail{
        margin: 28px 4px 0;
        justify-content: space-between;
    }
    .divs-header{
        display: flex;

    }
    .Details{
        display: block;
        margin: 24px 0 0;
    }
    .inset-product{
        margin: 28px 0 0;
    }
    .c-info-details{
        display: grid !important;
        justify-content: center !important;
        /*text-align: center;*/
    }
    .inset-info-details{
        justify-content: center;
        text-align: center;
        padding: 0 8px;
    }
    .c-detail{
        justify-content: center;
    }
    .inset-info-details > .description{
        margin-right: 0;
    }
    .div-price{
        justify-content: space-between;
    }
    .c-AddToCart{
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .c-AddToCart > button{
        width: 100%;
    }
}
/*@media screen and (max-width: 760px) {*/
/*    .Details{*/
/*        grid-template-columns: 1fr;*/
/*        margin: 24px 0 0;*/
/*    }*/
/*    .inset-product{*/
/*        margin: 28px 0px 0;*/
/*    }*/
/*    .header-datail{*/
/*        !* border: 1px solid black; *!*/
/*        display: flex;*/
/*        margin: 24px 24px 0;*/
/*    }*/
/*    .container{*/
/*        width: 100%;*/
/*        padding: 0;*/
/*    }*/
/*    .c-AddToCart{*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        width: 100%;*/
/*        margin: 0;*/
/*    }*/
/*    .c-AddToCart > button{*/
/*        background-color: rgb(254, 166, 15);*/
/*        box-shadow: 0 0 7px rgb(214, 136, 0);*/
/*        border: none;*/
/*        width: 100%;*/
/*        !* padding: 10px 25px; *!*/
/*    }*/
/*    .btn-count{*/
/*        display: flex;*/
/*    }*/
/*    .btn-count > button{*/
/*        height: 40px !important;*/
/*        background-color: rgb(254, 166, 15);*/
/*        box-shadow: 0 0 7px rgb(214, 136, 0);*/
/*    }*/
/*    .btn-count > button:hover{*/
/*        box-shadow: none;*/
/*    }*/
/*    .c-info-details{*/
/*        display: grid;*/
/*        justify-content: center;*/
/*        text-align: center;*/
/*        background-color: rgb(251, 176, 48);*/
/*        !* border: 1px solid black; *!*/
/*        border-top-right-radius: 20%;*/
/*        border-top-left-radius: 20%;*/
/*    }*/
/*    .inset-info-details{*/
/*        background-color: rgb(251, 188, 79);*/
/*        !* border: 1px solid black; *!*/
/*        box-shadow: 0 -7px 10px rgb(254, 167, 16);*/
/*        padding:10px;*/
/*        border-top-right-radius: 20%;*/
/*        border-top-left-radius: 20%;*/
/*    }*/
/*    .c-detail{*/
/*        display: flex;*/
/*        justify-content: center;*/
/*    }*/
/*    .c-detail > span{*/
/*        color: rgb(251, 176, 48);*/
/*    }*/
/*    .inset-info-details > .pricee > span{*/
/*        color: rgb(123, 78, 0);*/
/*    }*/
/*    .c-info-details > .h3{*/
/*        margin: auto;*/
/*        border-radius: 20px;*/
/*        margin-bottom: 0px;*/
/*        background: none !important;*/
/*        !* position: absolute; *!*/
/*    }*/
/*    .c-info-details > .h3 > h3{*/
/*        color: #2b2b2b !important;*/
/*    }*/
/*    .Satisfaction{*/
/*        margin-bottom: 14px !important;*/
/*    }*/
/*    .div-price{*/
/*        grid-gap: 0;*/
/*        justify-content: space-between;*/
/*    }*/
/*    .inset-info-details > .div-price > .pricee > span{*/
/*        color: rgb(123, 78, 0);*/
/*    }*/
/*    .css-ryrseu-MuiRating-root{*/
/*        color: rgb(212, 134, 1) !important;*/
/*    }*/
/*    .c-img-details{*/
/*        background-color: white ;*/
/*    }*/
/*}*/
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}