@font-face {
    font-family: sans;
    src: url(../font/IRANSans.ttf);
}
.inset{
    /* border: 1px solid black; */
    margin: 28px 0 0 !important;
    border-radius: 8px;
}
.header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.div-img-logo{
    display: none;
}
.logo-page,.menu-page{
    display: flex;
}

.menu-page{
    grid-gap: 8px;
}
.back{
    border: 1px solid black;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 24px; */
    border-radius: 8px;
    background-color: #005d60;
}
.icon-left{
    color: #ffffff;
}


/*  */
.content{
    /* border: 1px solid black; */
    margin: 24px 32px 0;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 3fr 1fr;
    grid-gap: 14px;
}
.content > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans;
    font-size: 24px;
    font-weight: 700;
}
.content-list{
    /* border: 1px solid #999999; */
    border-radius: 8px;
    padding: 5px 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    height: 570px;
    overflow-y: scroll;
    justify-content: center;
    /* align-items: center; */
}
.content-list::-webkit-scrollbar{
    display: none;
}
.price{
    display: flex;
}
.img-order{
    width: 100px;
    height: max-content;
}

*+p{
    margin: 0 10px;
    font-family: sans;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
}
.btn-trash{
    background: none !important;
    border: 1px solid black !important;
    border: none;
    color: #ffffff;
    width: 100%;
    height: 48px;
    margin: 0;
    background-color: #005d60 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.uk-card{
    padding: 0;
    display: block;
}
.content-count{
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 5px;
    height: max-content;
}
.content-count a{
    font-family: sans;
    font-size: 14px;
    font-weight: 700;
}
.content-count a span{
    color: #e3ab74;
}
.content-count ul{
    padding: 0;
    list-style: none;
}
.fainal{
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    background-color: #e3ab74;
    color: #2b2b2b;
    font-family: sans;
    font-size: 14px;
    font-weight: 700;
    border: none;
}
.count{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}
.count > p{
    margin: 0;
    font-family: sans;
    font-size: 16px;
    color: #2b2b2b;
}
.item-count{
    font-family: sans;
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    margin: 0;
}
@media screen and (max-width: 1020px) {
    .content{
        margin: 24px 0 0;
    }
}
@media screen and (max-width: 780px) {
    .inset{
        /* border: 1px solid black; */
        margin: 16px 16px 0 !important;
        border-radius: 8px;
    }
    .content{
        display: grid;
        margin-bottom: 75px;
        grid-template-columns: 1fr;
    }
    .div{
        height: max-content !important;
    }
    .content-list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 14px;
        height: max-content;

    }


}
@media screen and (max-width: 450px) {
    .content-list{
        height: max-content;
    }
    .price{
        display: flex !important;
    }
    .uk-card > p{
        display: flex !important;
        margin: 10 15px !important;
    }
    /* .uk-card > .price{
        height: max-content;
        margin: 0 10px 10px;

    } */
}
